<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/GetRightStyleSheet.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js" integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s=" crossorigin=""></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GetRight", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- Authenticated User Pages -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin Tools", "AdminTools", "Home", null, new { @class = "link" })</li>
                            <li>@Html.ActionLink("Appointments", "index", "Appointments", null, new { @class = "link" })</li>
                            <li>@Html.ActionLink("See Our Trainers", "index", "Trainers", null, new { @class = "link" })</li>
                        }

                        if (User.IsInRole("Dieter"))
                        {
                            <li>@Html.ActionLink("Nutrition Management", "index", "MealLists", null, new { @class = "link" })</li>
                            <li>@Html.ActionLink("Appointments", "index", "Appointments", null, new { @class = "link" })</li>
                            <li>@Html.ActionLink("See Our Trainers", "index", "Trainers", null, new { @class = "link" })</li>
                        }
                        if (User.IsInRole("Trainer"))
                        {
                            <li>@Html.ActionLink("Trainer Details", "index", "Trainers", null, new { @class = "link" })</li>
                            <li>@Html.ActionLink("Appointments", "index", "Appointments", null, new { @class = "link" })</li>
                        }
                    }
                    <li>@Html.ActionLink("Gyms", "index", "Gyms", null, new { @class = "link" })</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
